language: python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"

install:
  - pip install -q -r requirements.txt
  - python setup.py -q install

script: py.test tests.py --cov pycoinbase.py --cov-report term-missing --pep8 pycoinbase.py

after_success: coveralls
